rdflib
lxml
netCDF4
pysolr
python-dateutil
validators
PyYAML
requests
pygml
python-dotenv
pygeoif
# Optional: ADC thumbnail path resolution (required when using --adc)
metsis-thumbnail-generator @ git+https://github.com/magnarem/metsis-thumbnail.generator.git@main
